body {
	background-image: url(../../assets/images/Suminagashi-1.jpg);
}

h1 {
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	padding: 25px;
	margin-bottom: 0px;
	height: 100px;
}

h2 {
	color: #4aaaa5;
	margin-bottom: 20px;
	margin-top: 20px;
}

.row {
	border: 1px solid #dddddd;
	background-color: #ffffff;
	margin: 20px;
	padding: 20px;
}

div.container text-left {
	border: 1px solid #dddddd;
	background-color: #ffffff;
	margin: 20px;
	padding: 20px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	padding-bottom: 0;
	border-bottom: 1px solid #dddddd;
	background-color: #ffffff;
}

.navbar a {
	color: #777777;
	text-align: center;

	margin-top: 50px;
	padding: 4px 6px;
	text-decoration: none;
	border: 1px solid #dddddd;
}

.topnav a:hover {
	background-color: lightblue;
	color: blanchedalmond;
}

.card {
	margin: 20px;
	padding: 20px;
}

img.hoverzoomlink {
	margin-left: 10px;
}

.row {
	height: 450px;
}

.sidenav {
	padding-top: 20px;
	background-image: url("../../assets/images/Suminagashi-1.jpg");
	height: 100%;
}

footer {
	background-color: #555;
	text-align: center;
	color: white;
	padding: 15px;
	margin-top: 25px;
	border-top: 8px solid #4aaaa5;
	height: 100px;
}

div.col-md-12 {
	height: 50px;
}

@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
