h1 {
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	padding: 25px;
	margin: 0px;
	height: 100px;
}

h2 {
	color: #4aaaa5;
	margin-bottom: 20px;
	margin-top: 20px;
}

.navbar {
	background-color: #ffffff;
	padding-bottom: 0px;
}

.navbar a {
	color: #777777;
	text-align: center;
	padding-bottom: 0px;
	margin-top: 50px;
	padding: 10px 12px;
	margin-left: 1px;
	margin-right: 1px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: lightblue;
	color: white;
}

img {
	float: left;
	margin-right: 20px;
}

.card {
	padding: 20px;
}

.cardimg {
	margin: 5px;
}

.card-img-overlay {
	padding: 15px;
	padding-top: 5px;
}

.col-md-2 {
	background-image: url(../../assets/images/Suminagashi-1.jpg);
}

.col-md-6 {
	border-bottom: 1px solid #777777;
}

.col-md-8 {
	margin: 0px;
	padding: 0px;
}

.footer {
	background-color: #555;
	text-align: center;
	color: white;
	padding-top: 50px;
	border-top: 8px solid #4aaaa5;
	height: 100px;
}

.text-block {
	position: sticky;
	width: 100%;
	background-color: #4aaaa5;
	color: white;
	margin-left: 0px;
	text-align: center;
	padding-top: 30px;
}
